<div class="outerdiv">
    <div class="innerdiv">
        <form action="javascript:void(0);" method="POST" onsubmit="login()">
            <input class="input" type="text" name="username" placeholder="Usuário">
            <br>
            <input class="input" type="password" name="password" placeholder="Senha">
            <br>
            <button class="button" action="submit"> Entrar </button>
        </form>
    </div>
</div>