html
{
	height: 100%;
}

body
{
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 100%;
	margin: 0;
	background: white;
	white-space: nowrap;
}

svg > g:last-child > g:last-child { pointer-events: none }