#header-top
{
	box-sizing: border-box;
	margin-top: 0px;
	width: 100%;
	background-color: #2B467E;
	height: 45px;
}

#logo
{
	position: relative;
	left: 50%;
	top: 50%;
	height: 2.5em;
	-webkit-transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
}

#stats-logo
{
	margin-top: 0px;
	height: 40px;
	-webkit-transform: translate(0%, -15px);
	-moz-transform: translate(0%, -15px);
	-ms-transform: translate(0%, -15px);
	transform: translate(0%, -15px);
}

#th-logout
{
	width: 100%;
	text-align: right;
}

#logout
{
	color: white;
	text-decoration: none;
	margin-right: 20px;
}

.polos
{
	text-align: right;
	font-size: 11px;
	background-color: #e0e0eb;
	vertical-align: top;
}

.group
{
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 200px);
}

#content
{
	width: 100%;
}
