.sidenav
{
	vertical-align: top;
	display: inline-block;
	text-align: center;
	width: 200px;
	font-size: 14px;
}

/* Botão */
.dropbtn {
	box-sizing: border-box;
	width: 100%;
	background-color: #688CB9;
	color: white;
	padding: 10px;
	cursor: pointer;
	white-space: normal;
}

.dropbtn.active
{
	background: #5478a4;
}

.dropbtn:hover {
	background-color: #5478a4;
}

.dropdown-content 
{
	overflow: hidden;
	max-height: 0px;
	background-color: #799ECC;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.dropdown-content.active{
	max-height: 200px;
}

.plushint
{
	position: absolute;
	padding: 10px;
	font-size: 14px;
	font-family: 'Open Sans', sans serif;
	color: white;
	margin-left: 160px;
	pointer-events: none;
}