.innerdiv
{
    margin: auto;
    padding: 20px;
    border-radius: 5px;
}

.outerdiv
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
}

.button
{
    width: 100%;
    background-color: #00a771;
    padding: 10px;
    border: none;
    color: white;
}

.input
{
    margin-bottom: 10px;
    display: table;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: none;
}

.input:focus
{
    outline: none;
}